@model PagedList.IPagedList<FirstCargoApp.Models.USER>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @ViewResources.Resource.searchbyName: @Html.TextBox("SearchString")
        <input type="submit" value=@ViewResources.Resource.search />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(ViewResources.Resource.UserName, "Index", new { sortOrder = ViewBag.UserNameSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.UserFirstName, "Index", new { sortOrder = ViewBag.UserFirstNameSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.UserLastName, "Index", new { sortOrder = ViewBag.UserLastNameSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Email, "Index", new { sortOrder = ViewBag.EmailSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.IsAdmin, "Index", new { sortOrder = ViewBag.IsAdminSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.CreatedDate, "Index", new { sortOrder = ViewBag.CreatedDateSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.IsConfirmed, "Index", new { sortOrder = ViewBag.IsConfirmedSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isConfirmed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
