@model PagedList.IPagedList<FirstCargoApp.Models.Package>
@using PagedList.Mvc;

@{
    ViewBag.Title = @ViewResources.Resource.PackageRecords;
}

<h2>@ViewResources.Resource.PackageRecords</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<p>
    @Html.ActionLink(@ViewResources.Resource.CreateNewRecords, "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @ViewResources.Resource.searchbyName: @Html.TextBox("SearchString")
        <input type="submit" value=@ViewResources.Resource.search />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(ViewResources.Resource.PackageType, "Index", new { sortOrder = ViewBag.PackageTypeSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.SenderName, "Index", new { sortOrder = ViewBag.SenderNameSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.SenderAdress, "Index", new { sortOrder = ViewBag.SenderAdressSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.SenderEmail, "Index", new { sortOrder = ViewBag.SenderEmailSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.SenderPhoneNumber, "Index", new { sortOrder = ViewBag.SenderPhoneNumberSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.RecieverName, "Index", new { sortOrder = ViewBag.RecieverNameSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.RecieverAdress, "Index", new { sortOrder = ViewBag.RecieverAdressSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.RecieverEmail, "Index", new { sortOrder = ViewBag.RecieverEmailSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.RecieverPhoneNumber, "Index", new { sortOrder = ViewBag.RecieverPhoneNumberSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Destination, "Index", new { sortOrder = ViewBag.DestinationSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Price, "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Paid, "Index", new { sortOrder = ViewBag.PaidSortParm })
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.packageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paid)
        </td>
        <td>
            @Html.ActionLink(@ViewResources.Resource.Edit, "Edit", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Detail, "Details", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Delete, "Delete", new { id=item.packageID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
