@model IEnumerable<FirstCargoApp.Models.Package>

@{
    ViewBag.Title = @ViewResources.Resource.PackageRecords;
}

<h2>@ViewResources.Resource.PackageRecords</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<p>
    @Html.ActionLink(@ViewResources.Resource.CreateNewRecords, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.packageType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senderAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senderEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.senderPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recieverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recieverAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recieverEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recieverPhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.packageType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.senderPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recieverPhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paid)
        </td>
        <td>
            @Html.ActionLink(@ViewResources.Resource.Edit, "Edit", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Detail, "Details", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Delete, "Delete", new { id=item.packageID })
        </td>
    </tr>
}

</table>
