@model PagedList.IPagedList<FirstCargoApp.Models.Package>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = @ViewResources.Resource.PackageRecords;
}

<h2>@ViewResources.Resource.PackageRecords</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<p>
    @Html.ActionLink(@ViewResources.Resource.CreateNewRecords, "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @ViewResources.Resource.searchbyName: @Html.TextBox("SearchString")
        <input type="submit" value=@ViewResources.Resource.search />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink(ViewResources.Resource.OrderNumber, "Index", new { sortOrder = ViewBag.OrderNumberSortParm })
        </th>

        <th>
            @Html.ActionLink(ViewResources.Resource.CreatedDate, "Index", new { sortOrder = ViewBag.CreatedDateSortParm })
        </th>
        
        <th>
            @Html.ActionLink(ViewResources.Resource.SenderName, "Index", new { sortOrder = ViewBag.SenderNameSortParm })
        </th>
        
        <th>
            @Html.ActionLink(ViewResources.Resource.RecieverName, "Index", new { sortOrder = ViewBag.RecieverNameSortParm })
        </th>
        
        <th>
            @Html.ActionLink(ViewResources.Resource.Destination, "Index", new { sortOrder = ViewBag.DestinationSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Price, "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.Paid, "Index", new { sortOrder = ViewBag.PaidSortParm })
        </th>
        <th>
            @Html.ActionLink(ViewResources.Resource.RestToPay, "Index", new { sortOrder = ViewBag.PaidSortParm })
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.orderNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.senderName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.recieverName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alreadyPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paidRest)
        </td>
        <td>
            @Html.ActionLink(@ViewResources.Resource.Edit, "Edit", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Detail, "Details", new { id=item.packageID }) |
            @Html.ActionLink(@ViewResources.Resource.Delete, "Delete", new { id=item.packageID }) |
            @if (Convert.ToBoolean((User.Identity.GetUserName().Split('|')[2])))
            {
                @Html.ActionLink(@ViewResources.Resource.PrintOrder, "PrintOrder", new { id = item.packageID })
            }
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
