@model FirstCargoApp.Models.Vehicule

@{
    ViewBag.Title = @ViewResources.Resource.Detail;
}

<h2>@ViewResources.Resource.Detail</h2>

<div>
    <h4>Vehicule</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.senderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senderAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senderPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senderPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recieverPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recieverPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alreadyPaid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paidRest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paidRest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.depth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehiculeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frameNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frameNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@ViewResources.Resource.Edit, "Edit", new { id = Model.vehiculeID }) |
    @Html.ActionLink(@ViewResources.Resource.BacktoList, "Index")
</p>
