<!DOCTYPE html>
@using System.Globalization
@using System.Threading
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewResources.Resource.Anwendungsname</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">@ViewResources.Resource.Anwendungsname</p>

                
                <link rel="logo" type="image/ico" href="\favicon.ico" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;
                        if (Request.IsAuthenticated) { 
                            
                        <li>@Html.ActionLink(@ViewResources.Resource.Vehicule, "Index","Vehicule")</li>
                        <li>@Html.ActionLink(@ViewResources.Resource.Package, "Index", "Package")</li>
                        <li>@Html.ActionLink(@ViewResources.Resource.Other, "Index", "Other")</li>
                    }
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Copyright First Cargo Mannheim    Version: @ViewContext.Controller.GetType().Assembly.GetName().Version </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
